<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.AndFlmsg"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.4.2" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <application
        tools:replace="android:icon,android:name,android:label"
        android:name="AndFlmsgDebug"
        android:icon="@drawable/icon"
        android:label="@string/txt_app_name">
        <activity
            android:name=".AndFlmsg"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/txt_app_name"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="myPreferences"  >
        </activity>

        <service
            android:name=".Processor" >
        </service>

        <activity
            android:name="ar.com.daidalos.afiledialog.FileChooserActivity" >
        </activity>

        <activity
            android:name=".imagePicker" >
        </activity>

        <provider
            android:name=".myFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>