*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
/import-summary.txt
/andFlmsg_Head_CPP120/.externalNativeBuild
/andFlmsg_Head_CPP120/build
/andFlmsg_Head_CPP120/*.iml
/aFileDialogoriginal/build
/aFileDialogoriginal/*.iml


